$tablets: 768px;
$phones: 480px;


@font-face {
    font-family:'Probel' ;
    src: url('../fonts/Probel.otf') ;
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'TTMilks' ;
    src: url('../fonts/TypeType\ -\ TTMilks-Bold_0.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:'Mediator' ;
    src: url('../fonts/MDT45_0.otf');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family:'Mediator' ;
    src: url('../fonts/MDT55_0.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'Mediator' ;
    src: url('../fonts/MDT75_0.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family:'Mediator' ;
    src: url('../fonts/MDT95_0.otf') ;
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family:'MediatorNarrow' ;
    src: url('../fonts/MDN47_0.otf') ;
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family:'MediatorNarrow' ;
    src: url('../fonts/MDN87_0.otf') ;
    font-weight: bolder;
    font-style: normal;
}
@font-face {
    font-family:'MediatorNarrow' ;
    src: url('../fonts/MDN47_0.otf');
    font-weight: lighter;
    font-style: normal;
}
@font-face {
    font-family:'Kozuka' ;
    src: url('../fonts/KozGoPr6N-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family:'DekaSerifNew' ;
    src: url('../fonts/DNF55.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'TTPols' ;
    src: url('../fonts/TypeType\ -\ TT\ Polls\ Script\ Bold.otf');
    font-weight: bold;
    font-style: normal;
}
@font-face{
    font-family: 'wingding';
    src: url('../fonts/wingding.ttf')
}
@import url(//db.onlinewebfonts.com/c/3011eef00e6e7eaf387e195b31727b93?family=Mediator+Narrow+Web+Light);
@import "./media";
@import "./base";
@import "./issue";
@import "./page.scss";
@import "./epigraph";
@import "./todo";
@import "./images";
@import "./topline-mobile.scss"